@{
	ViewData["Title"] = "About";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
		 data-stellar-background-ratio="0.5">
</section>


<section class="my-lg-4 ftco-no-pt ftco-no-pb bg-light">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 text-center">
				<h2 class="mb-4">О КОМПАНИИ</h2>
			</div>
		</div>
		<div class="row d-flex lead">
			<div class="col-md-12">
				<p>
					Ремонт автомобиля – это та проблема, с которой никому не хотелось бы сталкиваться.
					Но, увы, это факт,
					которого нельзя избежать, это плата за удовольствие быть владельцем машины. После сотен, а может и
					тысяч километров пробега, ваш «друг» нуждается в ремонте. Детали изнашиваются, некоторые необходимо
					отремонтировать, а некоторые заменить. И абсолютно все транспортные средства нуждаются в
					определенной профилактике и обслуживании: замена масла и фильтров, тормозных колодок, колес и т.д.
				</p>
				<p>
					Чем старше возраст вашего автомобиля, чем больше километров у него за спиной, тем чаще вам
					необходимы услуги по ремонту и профилактике. Ремонт машины нельзя откладывать, это грозит вам еще
					большими проблемами в пути и более дорогостоящим ремонтом. Так, например, если вашему автомобилю
					необходимо заменить масло или тормозные колодки, не откладывайте визит в автосервис, поскольку вы
					ставите под угрозу надежность вашей машины, а значит и свою жизнь.
				</p>
				<p>

					Мы приветствуем вас в нашем автосервисе, где мы восстановим надежность, комфорт и эксплуатационные
					качества вашего авто. Наши квалифицированные эксперты объяснят, почему необходимо использовать
					только оригинальные запчасти, познакомят с особенностями ремонта после аварии и расскажут о многих
					других деталях и секретах.
				</p>
				<p>
					Наши специально обученные специалисты хорошо знают, что такое ремон opel, они знают каждый сантиметр
					вашей машины и все ее устройство. Мы знаем, что вы хотите ощущать себя в своем автомобиле также как
					и в день его приобретения. Наши технические специалисты обладают всеми знаниями, навыками и
					ловкостью необходимыми для того, чтобы восстановить вашу машину, чтобы она стала как новой. Они
					также готовы ответить на любые вопросы, касающиеся вашего автомобиля, которые могут возникнуть у
					вас.
				</p>
				<p>
					Концепцией нашего автосервиса является повышение и заметное улучшение управляемости транспортных
					средств наших клиентов. И мы достигаем этой цели, уделяя должное время и внимание ремонту
					автомобиля. Мы хотим, чтобы наши клиенты действительно почувствовали, что их машины стали лучше
					работать, посетив наш Автосервис кузьминки или Автосервис текстильщики.
				</p>

				<p>
					Если ваш автомобиль работает на дизельном топливе, мы также сможем помочь вам. Наши специалисты
					осуществляют отличный ремонт дизельных двигателей.
				</p>

				<p>
					Регулярное техническое обслуживание абсолютно необходимо, если вы хотите, чтобы ваш двигатель жил
					долго. И каждый владелец такого автомобиля неизбежно сталкивается с определенными проблемами. Хотя
					дизельные двигатели не требуют регулировки системы зажигания, и, как правило, обходятся без
					капитального ремонта дольше, чем бензиновые, они все же нуждаются в регулярном и недорогом
					обслуживании в виде частой замены масла и фильтров.
				</p>
				<p>
					Всем хорошо известно, что состояние дорожного покрытия сильно влияет на состояние колес автомобиля.
					Плохие дороги – это самые большие враги колес вашей машины. Если вы ездите по дорогам, которые не
					поддерживаются в должном состоянии, попадаете в ямы на дорогах, регулировка ваших колес очень сильно
					страдает. Даже небольшое изменение в регулировке может ускорить неравномерный износ шин.
				</p>
				<p>
					Убедитесь вместе с нашими специалистами в том, что у вашего автомобиля должным образом
					отрегулированы колеса. Где это сделать? Ответ не сложен – сход-развал ювао, сход-развал
					текстильщики, сход-развал кузьминки, сход-развал рязанский проспект.
				</p>
				<p>
					Правильный сход-развал колес обеспечивает оптимальную управляемость автомобилем, более длительный
					срок службы колесам и плавный ход вашей машины. Кроме этого, при правильно отрегулированных колесах,
					ваш автомобиль затрачивает меньше энергии, экономя топливо.
				</p>
				<p>
					Плохо отрегулированные колеса могут сократить срок службы колес на тысячи километров и негативно
					сказаться на рулевом управлении и подвеске. Чтобы не менять колеса слишком часто и не тратить лишние
					деньги на топливо, проверяйте регулировку колес при каждой замене масла, либо при первых признаках
					неравномерного или преждевременного износа шин.
				</p>
				<p>
					Наш автосервис предоставит вам и услуги по покраске автомобилей. В списке наших услуг входит и
					покраска Ford. Эти автомобили отличаются высоким качеством покрытия. Поэтому процедуру покраски
					необходимо осуществлять исключительно специальным оборудованием в автосервисе.
				</p>

				<p>
					Кроме обычного покрытия мы предлагаем в нашем автосервисе есть такая услуга, как покраска автомобиля
					резиновой краской. Резиновая краска позволяет придать вашему автомобилю гладкий уникальный цвет и
					вид без нанесения ущерба его первоначальной краске. При правильном нанесении эта краска более
					долговечна, чем обычная. Кроме этого, цветовая гамма очень широка и не ограничивает полет вашей
					фантазии.
				</p>
			</div>
		</div>
	</div>
</section>