@{
    ViewData["Title"] = "Team";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
		 data-stellar-background-ratio="0.5">
</section>

<section class="my-lg-4">
	<div class="container">
		<div class="row justify-content-center pb-3">
			<div class="text-center ftco-animate">
				<h2>Наша команда</h2>
			</div>
		</div>
		<div class="row" id="team-block">
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-1.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Максим Петров</h3>
						<span class="position">Механик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-2.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Дмитрий Смирнов</h3>
						<span class="position">Менеджер</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-3.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Алексей Васильев</h3>
						<span class="position">Механик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-4.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Иван Соколов</h3>
						<span class="position">Слесарь-ремонтник</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-5.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Lloyd Wilson</h3>
						<span class="position">СЛЕСАРЬ-РЕМОНТНИК</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-6.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Мария Морозова</h3>
						<span class="position">Электрик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-7.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Артем Ковалев</h3>
						<span class="position">Сварщик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-8.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Андрей Крылов</h3>
						<span class="position">Механик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-3.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Андрей Крылов</h3>
						<span class="position">Электрик</span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img-wrap d-flex">
						<div class="img align-self-stretch" style="background-image: url('/images/staff-1.jpg');">
						</div>
					</div>
					<div class="text pt-3 text-center">
						<h3>Александр Михайлов</h3>
						<span class="position">Сварщик</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="col text-center">
			<div id="pagination" class="block-27">
				<ul id="pagination-list">
					<!-- Пагинация -->
				</ul>
			</div>
		</div>
	</div>
</section>